.body {
    margin: auto;
    width: 1100px;
    font-family: "Verdana", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #151c22;
  }
  .pic {
    margin-right: 60px;
    text-align: left;
    border: 5px solid grey;
  }
 .header {
    display: flex;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: left;
  }   
  .header-name {
      font-size: 35px;
  } 
  .header-prof {
      margin-top: 90px;
      margin-bottom: 90px;
      margin-left: -275px;
      font-size: 17px;
  }
aside {
    border-right: 2px solid grey;
    display: inline-block;
    height: 1050px;
    width: 210px;
    font-size: 16px;
}
.main {
    width: 850px;
    margin-left: 220px;
    padding-left: 20px;    
    text-align: left;
    margin-bottom: 40px;
    margin-top: -1050px;
}
.footer-box {  
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  align-items: center;
}
.line li {
    display: inline;
    padding: 50px 50px 50px 150px;
}